h1 {
    color: #3A606E;
    font-family: monospace;
}

#search, #search-text {
    height: 30px;
}

#current-page {
    padding: 0 30px;
}

#pages {
    padding: 10px ;
}

#searchBar>#search-text{
    width: 300px;
}

.buttons {
    width: 100px;
}

div.animeCard {
    height: 400px;
    width: 230px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 2px;

    border: 2px solid;
    border-radius: 5px;

}
div.animeCard:hover{
    border: 8px solid;
    border-radius: 5px;
    margin: 10px;
}
p.animeCard {
    display: inline-table;
}

img {
    height: 350px;
    width: 225px;
    display: inline-table;
    border: 2px solid;
    border-radius: 5px;
}
#modal {
    visibility: hidden;
    position: fixed;
    width: 75%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    border-radius: 15px;
    overflow-y: auto;

    left: 25%;
    top: 5%;

    margin-left: -12.5%;

    padding: 10px;
    border: 4px solid;
}

#image {
    width: 230px;
    height: 350px;
    vertical-align: middle;
}
#image-wrapper {
    margin-right: 20px;
}
#info-wrapper {
    flex: 1;
    padding: 10px;
}
#info-wrapper>p {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}
#info-wrapper, #description {
    border: 2px solid;
    border-radius: 5px;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
#description {
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
}
#results, form {
    text-align: center;
    margin: 20px auto;
}

#pages {
    display: block ruby;
}

/* BACKGROUND COLOUR PALLETE */
body, #info-wrapper, #description {
    background-color: #ACD2ED;;
}

#modal, div.animeCard, #info-wrapper>p {
    background-color: #E1E289;
}

#info-wrapper, #description, #info-wrapper>p, img, #modal, div.animeCard, div.animeCard:hover {
    border-color: #3A606E;
}
